## Import

In [1]:
from pathlib import Path
from datetime import datetime, timedelta

import pandas as pd

In [2]:
cd /home/sanjyot/latcom

/home/sanjyot/latcom

In [3]:
from preprocess import truncate_filenames, extract_datetime

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
data_dir = Path('.').resolve() / 'dataset' / 'udacity_simulator' / 'tracks'
label_path = data_dir / 'driving_log.csv'

In [7]:
lbl = (
    pd.read_csv(
        label_path, 
        names=['center', 'left', 'right', 'steering', 'throttle', 'reverse', 'speed']
    )
    .pipe(truncate_filenames)
    .assign(datetime = lambda x: x['center'].apply(extract_datetime))
)

In [8]:
lbl.head()

,center,left,right,steering,throttle,reverse,speed,datetime
0,center_2019_04_02_19_25_33_671.jpg,left_2019_04_02_19_25_33_671.jpg,right_2019_04_02_19_25_33_671.jpg,0.0,0.000000,0.0,0.000011,2019-04-02 19:25:33.000671
1,center_2019_04_02_19_25_33_743.jpg,left_2019_04_02_19_25_33_743.jpg,right_2019_04_02_19_25_33_743.jpg,0.0,0.000000,0.0,0.000007,2019-04-02 19:25:33.000743
2,center_2019_04_02_19_25_33_816.jpg,left_2019_04_02_19_25_33_816.jpg,right_2019_04_02_19_25_33_816.jpg,0.0,0.000000,0.0,0.000003,2019-04-02 19:25:33.000816
3,center_2019_04_02_19_25_33_887.jpg,left_2019_04_02_19_25_33_887.jpg,right_2019_04_02_19_25_33_887.jpg,0.0,0.048016,0.0,0.002267,2019-04-02 19:25:33.000887
4,center_2019_04_02_19_25_33_959.jpg,left_2019_04_02_19_25_33_959.jpg,right_2019_04_02_19_25_33_959.jpg,0.0,0.281203,0.0,0.175589,2019-04-02 19:25:33.000959

## To-do

1. Check consecutive record time gap distribution
2. Join data based on how close in time the points are